.dentalClinicSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    padding: 2vw 0;
    z-index: 1;
    position: relative;
    background: linear-gradient(90deg, #E9F6FF, #E9F6FF, #FFFFFF, #E9F6FF, #E9F6FF);
    width: 100%;
}

.buttons {
    position: absolute;
    margin-top: 10vw;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background-color: rgb(82, 181, 165);
    border: none;
    outline: none;
    font-size: 2vw;
    padding: .5vw 1.1vw;
    color: white;
    font-weight: bold;
    border-radius: 16rem;
    transition: .3s ease all;
}

.buttons button:hover {
    cursor: pointer;
    background-color: rgb(61, 138, 125);
}

.main h1 {
    font-size: 2.5vw;
    margin-bottom: -0rem;
    text-shadow: 0 0 8px rgba(25, 25, 25, 0.25);
    color: #A89946;
}

.main hr {
    width: 13vw;
    background-color: #D8BD64;
    height: .5vh;
    border: none;
}


.carousel {
    width: 60vw;
    margin-top: 4rem;
    overflow: auto;
    scrollbar-width: none;
    position: relative;
}

.carousel .wrapper {
    transition: .3s ease all;
    display: flex;
}

.carousel img {
    width: 13vw;
    margin: 0;
    margin-right: 3vw;
    flex: 0 0 17vw;
    border-radius: .25rem;
    box-shadow: 0 0 8px rgba(25, 25, 25, 0.85);
}

.controls {
    width: fit-content;
    gap: 1vw;
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
}

.controls .control {
    width: 2vw;
    height: 2vw;
    border-radius: 16rem;
    background-color: #29434C;
}

.controls .control:hover, .controls .control.active {
    background-color: #39606d;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .main h1 {
        font-size: 3vw;
    }

    .buttons button {
        font-size: 3.5vw;
        padding: .5vw 1.5vw;
    }

    .carousel img {
        flex: 0 0 25vw;
        margin-right: 5vw;
    }

}

@media (max-width: 992px) {
    .main h1 {
        font-size: 5vw;
    }

    .buttons {}

    .buttons button {
        font-size: 5vw;
        padding: .75vw 2.1vw;
    }

    .carousel {
        width: 45vw;
    }

    .carousel img {
        flex: 0 0 40vw;
        margin-right: 5vw;
    }

    .controls {
        width: 50vw;
    }

    .controls .control {
        width: 3.5vw;
        height: 3.5vw;
    }
}