.dentalClinicSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    z-index: 1;
    padding-bottom: 4vw;
    text-transform: uppercase;
    position: relative;
}

.buttons {
    position: absolute;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background-color: rgb(82, 181, 165);
    border: none;
    outline: none;
    font-size: 2vw;
    padding: .5vw 1.1vw;
    color: white;
    font-weight: bold;
    border-radius: 16rem;
    transition: .3s ease all;
}

.buttons button:hover {
    cursor: pointer;
    background-color: rgb(61, 138, 125);
}

.main h1 {
    font-size: 1.65vw;
    margin-bottom: -0vw;
    font-family: "Inknut Antiqua", serif;
    text-shadow: 0 0 8px rgba(36, 35, 34, 0.25);
    color: #A89946;
}

.main hr {
    width: 13vw;
    background-color: #D8BD64;
    height: .5vh;
    border: none;
}

.carousel {
    width: 60vw;
    margin-top: 4vw;
    overflow: auto;
    scrollbar-width: none;
}

.carousel .wrapper {
    transition: .3s ease all;
    display: flex;
}

.carousel .wrapper img {
    margin: 0;
    flex: 0 0 20vw;
    margin-right: 5vw;
    border-radius: .25vw;
    box-shadow: 0 0 8px rgba(25, 25, 25, 0.5);
}

.controls {
    width: 8vw;
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
}

.controls .control {
    width: 1vw;
    height: 1vw;
    border-radius: 16vw;
    background-color: #29434C;
    box-shadow: 0 0 8px rgba(25, 25, 25, .5);
}

.controls .control:hover, .controls .control.active {
    background-color: #39606d;
    cursor: pointer;
}