.footer {
    background: linear-gradient(90deg, rgba(233, 219, 142, 1), rgba(233, 219, 142, .85), rgba(233, 219, 142, .7), rgba(233, 219, 142, .85), rgba(233, 219, 142, 1));
    padding: 8vw;
    height: fit-content;
}

.content {
    margin: 0 auto;
    padding: 0 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 25vw;
    margin: 0;
    margin-top: -5.5vw;
}

.content .wrapper {
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content div div {
    height: 8vh;
    display: flex;
    justify-content: start;
}

.content div div i {
    margin-top: -.25vw;
    margin-right: 1vw;
    font-size: 1.75vw;
}

.content div div div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
}

.content div div div h2, .content div div div p {
    margin: 0;
    font-size: 1.15vw;
}

.content div div div h2 {
    color: #3C4D60;
    text-transform: uppercase;
    margin-bottom: .5vw;
}

.content div div div p {
    color: #5A666B;
    text-transform: none;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.content div div div i {
    color: #5A666B;
}

@media (max-width: 995px) {

    img {
        width: 40vw;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    .content .wrapper {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 7vw;
        margin-bottom: -5vw;
    }

    .content .wrapper div {
        margin-bottom: 3vw !important;
    }

    .content .wrapper div div h2 {
        margin: 0 auto;
        font-size: 2.5vw;
        margin-bottom: 1vw;
    }

    .content .wrapper div div h2 i {
        font-size: 2.75vw;
    }

    .content .wrapper div div p {
        font-size: 2vw;
    }
}