.mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    padding-top: 12rem;
    margin: 0 auto;
    position: relative;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    z-index: 0;
}

.mission img {
    width: 20vw;
    margin-bottom: -1.85rem;
    margin-left: 9rem;
}

.main {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -12rem;
}

.main h1 {
    font-size: 2vw;
    text-shadow: 0 0 8px rgba(25, 25, 25, 0.5);
}

.main hr {
    width: 9vw;
    margin: -1rem 0 1rem;
    height: .25vh;
    border: none;
    background-color: #D8BD64;
}


.main p {
    width: 23vw;
    color: #7F8186;
    text-transform: none;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1400px) {
    .mission {
        padding: 4rem 0;
        width: 60vw;
        margin-right: 22.5vw;
    }

    .main {
        margin-top: 0;
    }

    .main h1 {
        font-size: 2vw;
        margin-bottom: 2rem;
    }

    .main p {
        width: fit-content;
        font-size: 1.35vw;
    }

    .mission img {
        width: 30vw;
        margin: 0;
    }
}