.treatmentsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    position: relative;
    z-index: 0;
    padding: 4vw 0 8vw;
}

.main h1 {
    font-size: 2.5vw;
    margin-bottom: 0;
    color: #A89946;
    text-shadow: 0 0 8px #D8BD64;
}

.main hr {
    width: 13vw;
    background-color: #D8BD64;
    height: .5vh;
    border: none;
    margin-bottom: 3.81vw;
}

.treatmentsDiv {
    width: 45vw;
    display: flex;
    background-color: #29434C;
    color: white;
    padding: none;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(25, 25, 25, 0.85);
}

.treatmentsOptions {
    color: #A89946;
    width: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.treatmentsOptions h3 {
    margin: 0;
    padding: 1.5vw;
    font-size: 1.25vw;
    transition: all .3s ease;
}

.treatmentsOptions h3:hover {
    background-color: #355c69;
    cursor: pointer;
}

.treatmentsOptions .active {
    color: white;
    background-color: #355c69;
}

.treatmentExplanation {
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.treatmentExplanation h2 {
    color: #FBA300;
    font-size: 1.5vw;
    text-shadow: 0 0 8px rgba(25, 25, 25, 1);
}

.treatmentExplanation div {
    display: flex;
    justify-content: center;
}

.treatmentExplanation div p {
    text-align: justify;
    color: #E8EFF2;
    width: 25vw;
    margin: 5vw 0;
    font-size: 1.1vw;
    font-family: "Inria Serif", serif;
}

.treatmentExplanation button {
    background-color: transparent;
    border: transparent;
    outline: transparent;
    color: #A89946;
    width: 20vw;
    padding: 1vw .25vw;
    font-size: 1vw;
    border: 1px solid #A89946;
    transition: ease .3s all;
    font-weight: bold;
    border-radius: .25vw;
}

.treatmentExplanation button:hover {
    background-color: #A89946;
    cursor: pointer;
    color: white;
}